

html,body{
    overflow-x: hidden;
}
/*----------------------*/
/*-----TYPOGRAPHY------*/
/*--------------------*/
header div#banner h1{
    font-size:310%;
}
header div#banner h4{
    font-size:130%;
    margin-bottom: 25px;
}
header div#banner a{
    border-radius: 50px;
    font-size: 100%;
    padding: 20px 30px;
}
h2{
    font-size:250%;
}


/*----------------------*/
/*---------NAV---------*/
/*--------------------*/

nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    
}  
nav ul#right,nav ul#left{
    display: none;
   position: absolute;
   top: 40px;
   right:30px;
   background: rgba(247, 247, 247, 0.98);
   width: 50%;

}

nav ul#right{
    top: 230px;
}
nav ul#icon-menu-mobile{
    display:inline;
    margin-right: 20px;
   }


nav ul li a,nav ul li a#create-account,
.itenStatic,.iconStatic{
    display: block;
    color: var(--gray);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    font-size: 80%;

}

/*----------------------*/
/*---PERFECT-SUNDAY----*/
/*--------------------*/
div#points{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
div.key-points{
   margin-bottom: 40px;
    width: 80%;
}

div.key-points p{
    font-size:115%;
    font-weight:300;
    line-height:2em;
}

/*----------------------*/
/*-----TESTIMONIALS----*/
/*--------------------*/
div#testimonials-center{
    width: 340px;
}
section#testimonials div#testimonials-center div#testimony-center ul p{
    font-size:115%;
    font-weight:300;
}

/*----------------------*/
/*-------PLANS---------*/
/*--------------------*/
section#plans{
    height:inherit;

}
div.plans{
    margin: 30px;
}


/*----------------------*/
/*-------FOOTER--------*/
/*--------------------*/

footer div#maps{
   display:none;

}

footer div#infos{
    width: 95%;
   
}