*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #078C31;
}
.container{
    
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header{
    padding: 20px 40px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
}
.header h2{
    
    margin: 20px auto;
    font-size: 200%;

    
}

#form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 110%;
    font-family: 'Open Sans', sans-serif;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding: 10px;
    width: 100%;

}
.form-control.success input{
    border-color: #078C31;
}

.form-control.error input{
    border-color: #D90404;
}

.form-control.success i.fa-check-circle{
    color: #078C31;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #D90404;
    visibility: visible;
}

.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;

}
.form-control.error small{
    color: #D90404;
    visibility: visible;
}
.form-control.success small{
    color: #078C31;
    visibility: visible;
}
#form button{
    background-color: #078C31;
    border: 2px solid #078C31;
    border-radius: 4px;
    color: #ffff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 110%;
    padding: 10px;
    width: 100%;
    transition: 0.8s;

}
#form button:hover{
    background-color: #065902;
    border: 2px solid #065902;
}